*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Ruhl';
    src: url('fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: 'Ruhl Medium';
    src: url('fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: 'Vibes';
    src: url('fonts/GreatVibes-Regular.ttf');
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out forwards;
}
h1 {
  font-family: "Vibes", sans-serif;
}

/* Header */
header{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

nav{
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 2rem 0rem;

}

nav h1{
  font-family: 'Vibes';
  font-weight: bold;
  flex: 1 1 20rem;
  padding: 1rem 0;
}

nav ul{
  font-family: 'Ruhl';
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}


/* ABOUT */

.about{
  min-height: 90vh;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas: 'about-l-sec about-r-sec';
}

.about-l-sect{
  grid-area: about-l-sec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.about-l-sect p{
  width: 80%;
  padding: 2rem;
  text-align: center;
  font-family: 'Ruhl';
  color: #525252;
}

#gallery{
  border: 1.5px solid black;
  padding: 1.5rem 4.5rem;
  font-family: 'Ruhl';

}

.about-r-sect{
  grid-area: about-r-sec;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

#elena-joy{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.plants {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1s ease-in-out 0.5s forwards,
    plant-shake 2.2s infinite ease alternate-reverse 1.5s;
  transform-origin: bottom;
  max-height: 80%;
}
.plant2 {
  left: 40%;
  width: 70%;
  z-index: -1;
}

/*ANIMATIONS */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.burger,
.menu-check {
  display: none;
}

/* WORK */

.work{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.work-l-sect{
  flex: 3 1 40rem;
  position: relative;

}
.work-l-sect h5{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  letter-spacing: 2rem;


}

.work-r-sect{
  flex: 6  1 40rem;
  z-index: 1;
  background-color: #414141;
  color: white;
}

.work-rs-body{
  width: 80%;
  margin: auto;

}

.work-r-sect h2{
  text-align: center;
  padding: 2rem 4rem;
  font-family: "Vibes";

}
.work-r-sect h3{
  font-family: "Ruhl Medium";

}

.work-r-sect p{
  padding: 2rem 0;
}

#ej-about{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GALLERY */

.gallery{
  position: relative;

}

.gallery-head{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  color: white;
  text-align: center;
}

.gallery-head h2{
  padding: 1rem 12rem;
}

.gallery-head p{
  padding-bottom: 1rem;
}


.gallery-img{
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 'img1 img1 img2'
                       'img3 img4 img2';

}

.img{
  width: 100%;
}

#img1{
  grid-area: img1;
}

#img2{
  grid-area: img2;

}

#img3{
  grid-area: img3;
}

#img4{
  grid-area: img4;
}


/* CONTACT US */

.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper {
  flex: 3 1 40rem;
}
.form-wrapper h2 {
  margin: 3rem 0rem;
}
.form-wrapper span {
  font-size: var(--big);
  color: var(--special-color);
}
.form-wrapper label {
  display: block;
}
.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: var(--background-color);
  color: white;
  border: none;
  padding: 1rem;
}
.form-wrapper button {
  padding: 1rem 8rem;
  background: var(--special-color);
  color: white;
  border: none;
  width: 100%;
}
.contact img {
  flex: 1 1 20rem;
}


/* FOOTER */
footer{
  background-color: #424242;
  color: white;
  font-weight: normal;
}

.footer{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footer h4{
  flex: 3 1 20rem;
  padding: 2.5rem 0;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
}

.social-media{
  flex: 2 1 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 842px) {
  .about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 0 0 1rem;

  }

  #about-name{
    margin-top: 2.5rem;
  }

  .about-l-sect p {
    padding: 5rem 3rem;
  }

  .about-l-sect a{
    margin-bottom: 2.5rem;

  }
  /* BURGER THING */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  /*About section */
  .work-r-sect div {
    padding: 3rem 3rem;
  }
  /* GALLERY*/
  .gallery-img img {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery-img{
    display: flex;
    flex-wrap: wrap;


  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery-head {
    display: none;
  }
  .contact img {
    display: none;
  }

  footer a {
    order: 1;
    padding-top: 2.5rem;
  }
  footer h4 {
    order: 2;
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
