footer {
  /* background: var(--background-color); */
  background: #2C2C2C;

  color: white;
  min-height: 8vh;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

}

#footer-link{
  flex: 1 1 40rem;
  font-family: "Montserrat", sans-serif;
  /* font-size: 2rem; */
  color: white;
  font-weight: 500;
}
